@import "tailwindcss";

button {
  background: #b54117;
  color: #fff;
  border-radius: 0.75rem;
  transition: background 0.2s, box-shadow 0.2s;
}
button:hover, button:focus {
  background: #c8a599;
  box-shadow: 0 4px 20px rgba(37,99,235,0.15);
}